.forgotpassContainer{
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 92.2vh;
}   

.forgotpassForm{
    height: 470px;
    width: 450px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-top: 20px;
    background: white;
    border-radius: 15px;
    background: lightgray;
}


.forgotpassForm>button{
    height: 3rem;
    margin-top: 20px;
}

.form-group>input{
  height: 3rem;
  margin-top: 15px;
}

.form-group{
  position: relative;
}

.faEyeSlash{
position: absolute;
top: 32px;
right: 15px;
}