.loginContainer{
    background-color: #f8fafb;
    height: 100vh;
    user-select: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.loginContainer .needs-validation{
    height: 50%;
    width: 40% !important;
    display: flex;
    align-items: center;
    justify-content: center;
     background-color: burlywood;
    border-radius: 2%;
    -webkit-box-shadow: 1px 1px 5px 1px rgba(0,0,0,0.75);
-moz-box-shadow: 1px 1px 5px 1px rgba(0,0,0,0.75);
box-shadow: 1px 1px 5px 1px rgba(0,0,0,0.75);
}

.needs-validation .col-md-12{
padding: 10px;
width: 90%;
}

.loginContainer .needs-validation span a{
    text-decoration: none;
}

.loginContainer button{
    margin-top: 12px;
}

.loginContainer button{
    margin-top: 12px;
}

.login-links{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-top: 15px;
}
